.aboutus{
  margin-top: 11%;
  display: flex;
}

.box-about{
  width: 45%;
}
.box-about-2{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 49.5%);
  grid-gap: 2%;
}

.b-a-content{
  padding: 7%;
  border-radius: 30px;
  background-color: #F3F0F2;
  height: 14.7vw;
  position: relative;
}
.b-a-content img{
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 40%;
}

.title-about{
  margin-bottom: 6%;
  font-size: clamp(24px, 2.3vw, 46px);
}

.box-team{
  margin-bottom: 4.5%;
  margin-top: -3%;
  width: 67%;
}
.profile {
  display: flex;
  gap: 2%;
}

.panel{
  margin: 1% 0;
  padding: 0 0 29.5% 0;
  background-repeat: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  width: 13vw;
  position: relative;
  transition: 0.4s ease-in;
  background-color: #F6F1E9;
  background-size: auto 100%;
}

.panel h3 {
  margin: 0;
  opacity: 0;
  color: rgb(0, 124, 207);
}

.panel.active{
  width: 27vw;
}
.panel.active h3 {
  opacity: 1;
}

.project{
  margin-top: 11.5%;
  /* display: flex; */
}
.project img{
  margin-top: 1%;
  width: 100%;
}
.approach{
  margin-top: 12.5%;
  margin-bottom: 20%;
}
.box-approach{
  margin-top: 7%;
  display: flex;
  gap: 12.5%
}
.box-content{
  width: 100%;
  height: 34vw;
}
.box-approach-content{
  background-color: #F3F0F2;
  border-radius: 227px 227px 0  0;
  transition: 0.5s ease-in-out;
}
.box-approach-content img{
  margin-top: 25%;
  margin-bottom: 22%;
  margin-left: 5%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.box-approach-content:hover {
  background-color: #FF570C;
  border-radius: 227px 227px 0 0;

  & img {
    transform: scale(1.3);
  }
}

.title-approach{
  margin: 8%;
  text-align: center;
  font-size: clamp(17px, 1.7vw,34px);
}
.text-approach{
  text-align: center;
  color:#ABAAAA;
}

.ourteam{
  margin-top: 12.5%;
}

.box-herobanner-2 img{
  margin-top: -6%;
  margin-left: 7%;
  width: 94%;
  margin-bottom: -19%;
}

.cta-section{
  display: flex;
}

.cta-box{
  width: 50%;
}

.office-location{
  display: flex;
  gap: 2%;
}
.location-description{
  display: none;
  justify-content: space-between;
}
.location-description.active{
  display: flex;  
}
.location-img{
  border-radius: 20px;
  width: 100%;
}
.box-image-location{
  /* margin-top: 6%; */
  /* width: 50%; */
  cursor: pointer;
  transition: 0.4s ease-in-out;
  filter: grayscale(100%);
  transform: scaleX(0.7);
}
.box-image-location.active{
  margin-top: 0;  
  /* width: 100%; */
  filter: grayscale(0%);
  transform: scaleY(1.2);
}

.hidden {
  opacity:0;
}
.console-container {

  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  left:10px;
}
.cta-section-about{
  margin-top: 37%;
  display: flex;
}
@media screen and (min-width: 360px) and (max-width: 640px){
  .cta-section-about{
    flex-direction: column-reverse;
  }
  .box-approach-content-mobile {
    background-color: #F3F0F2;
    border-radius: 227px 227px 0 0;
    transition: 0.5s ease-in-out;
    width: 131%;
    margin-left: -16%;
  }

  .box-approach-content-mobile img {
    margin-top: 19%;
    margin-bottom: 16%;
    margin-left: 0%;
    width: 100%;
    transition: 0.5s ease-in-out;
  }

  .box-approach-content-mobile.active {
    background-color: #FF570C;
    border-radius: 227px 227px 0 0;
  }

  .box-approach-content-mobile.active img {
    transform: scale(1.2);
  }
  .box-approach-content-mobile.active .text-approach{
    display: block;
  }
}