.language {
  display: flex;
}

.language img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 41%;
  margin: 1.5% 0;
  border-radius: 30px;
  padding: 0.7em 2.2em;
  transition: all 0.5s ease;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 800px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
}

nav ul li {
  list-style-type: none;
  padding: 1em 1.45em;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: block;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.language {
  transition: all 0.5s ease;
}

.language li {
  padding: 1em 0.5em;
  list-style-type: none;
}
.language {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language li {
  list-style-type: none;
  padding: 1em 0.5em;
}
.language ul {
  display: grid;
}
.language a {
  text-decoration: none;
  color: #000;
}

.arrow-img {
  display: flex;
  width: 25%;
  transition: transform 0.3s ease;
}

.arrow-img img {
  align-self: center;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 8px;
  padding: 0.5em 0;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.language.active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a.active {
  display: none; /* Hide the currently selected language */
}

.dropdown-menu li:hover {
  background: #f5f5f5;
}

.dropdown-menu a {
  display: block;
  color: #000;
  text-decoration: none;
}
.logo {
  width: 5%;
  transition: all 0.5s ease;
}

.logo img {
  width: 100%;
  height: auto;
}

header.sticky nav {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
}

header.sticky nav ul,
header.sticky nav .language,
header.sticky .logo {
  opacity: 0;
  visibility: hidden;
}

#openmenu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1.7em;
  transition: all 0.3s ease;
}

.button-span {
  width: 25px;
  background: black;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: 0.3s all ease;
}

header.sticky #openmenu {
  display: block;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  position: fixed;
  border-radius: 100%;
}

.menuopen header nav {
  width: 41%;
  height: auto;
  border-radius: 30px;
}

.menuopen header nav ul,
.menuopen header nav .language,
.menuopen .logo {
  opacity: 1;
  visibility: visible;
}

.menuopen #openmenu .button-span:first-child {
  transform: rotate(45deg) translate(6px, 6px);
}

.menuopen #openmenu .button-span:last-child {
  transform: rotate(-45deg) translate(6px, -6px);
}
.background-header {
  padding: 1% 0 10%;
  background-color: #f6f1e9;
}
.background-header-tortola {
  padding: 1% 0 10%;
  position: relative;
}
.background-header-adengroup {
  margin: 0 0 32%;
  padding: 1% 0 10%;
  position: relative;
}
.background-header-anta {
  margin: 0 0 -3%;
  padding: 1% 0 0%;
  position: relative;
  background-color: #f2f2f2;
}
.background-footer {
  padding: 1% 0 0;
  background-color: #f6f1e9;
}

.hero-tortola-img {
  top: 0;
  width: 100%;
  position: absolute;
}

.tortola-header {
  margin: 0;
  background-image: url("/assets/case\ studies/Hero banner 2.png");
}

.box-herobanner img {
  margin-top: -26%;
  width: 87%;
  margin-bottom: 20%;
  float: right;
}

.contact-banner {
  margin-top: 6%;
  display: flex;
}
.hero-banner {
  margin-top: 15%;
  display: flex;
}

.services-banner {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.box-herobanner {
  padding-top: 9%;
  width: 50%;
}

.parallax-herobanner {
  position: relative;
  height: 45vw;
  width: 50%;
}

.herobanner-image {
  margin-top: -18%;
  margin-left: 19%;
  width: 78%;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.layer:nth-child(5) {
  background-image: url("/assets/ember.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  margin-left: 16%;
  margin-top: 2%;
}
.layer:nth-child(2) {
  background-image: url("/assets/Blender.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14%;
  margin-top: 65%;
  margin-left: 60%;
}
.layer:nth-child(3) {
  background-image: url("/assets/huruf\ T.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16%;
  margin-top: 60%;
  margin-left: 12%;
}
.layer:nth-child(4) {
  background-image: url("/assets/lampu.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15%;
  margin-left: 74%;
  margin-top: 0.5%;
}
.layer:nth-child(1) {
  margin-top: 2.5%;
  margin-left: 19%;
  background-image: url("/assets/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
}

@media (min-width: 360px) and (max-width: 640px) {
  .box-herobanner img {
    margin: 0;

    width: 100%;
  }
  nav,
  nav ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  header.sticky #openmenu {
    display: block;
    background-color: #fff;
    border-radius: 100%;
  }
}
