* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1920px;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(11px, 1.1vw, 22px);
}
.button-about img,
.button-work img,
.our-works-mobile,
.dice-mobile,
.ourteam-mobile,
.swiper-container-mobile,
.project-mobile,
.swiper-location,
.workflow-mobile,
.text-banner-mobile,
.our-services-img-mobile {
  display: none;
}
.containers {
  margin: auto;
  width: 84.2%;
}
.small-container,
.location-container {
  margin: auto;
  width: 89%;
}
.title-banner {
  width: 90%;
  font-size: clamp(37px, 3.6vw, 70px);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.section-title {
  font-size: clamp(24px, 2.3vw, 46px);
}
.text-banner,
.text-services {
  margin-top: 4%;
  width: 72%;
  color: #898989;
  line-height: 1.5;
}
.title-orange {
  margin-top: 1%;
  font-size: clamp(17px, 1.7vw, 34px);
  color: #ff570c;
}
.leader-name {
  font-size: clamp(12px, 1.2vw, 24px);
}
.italic {
  font-style: italic;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.gray {
  color: #898989;
}
.black {
  color: #1a1c20;
}
.orange {
  color: #ff570c;
}

.cta-img {
  margin-top: -20%;
  position: relative;
}
.box-herobanner-2 {
  width: 58%;
}

.title-section {
  margin-bottom: 5%;
  display: flex;
  width: 70%;
  gap: 3%;
}
.title-contact {
  margin-bottom: 5%;
  display: flex;
  width: 65%;
  gap: 3%;
}

.our-works {
  display: flex;
  justify-content: space-between;
}
.our-works-2 {
  display: flex;
}

.cta {
  margin-top: -19%;
}
.logo {
  margin-top: 2%;
  width: 4%;
}
.logo img {
  width: 100%;
}
.btn {
  margin-top: 10%;
  padding: 2% 0;
  border: 2px solid #ff570c;
  width: 25%;
  border-radius: 37px;
  color: #ff570c;
}
.cta-section {
  padding: 55% 0 0;
  display: flex;
}
.cta-section-contact {
  padding: 10% 0 0;
  display: flex;
}
.cta-box,
.cta-box-2 {
  width: 50%;
}
.title-cta {
  display: flex;
  width: 62%;
  gap: 1%;
  position: relative;
}

.text-2 {
  opacity: 0;
  position: absolute;
  left: 42%;
}
.img-2 {
  opacity: 0;
  position: absolute;
  left: 0;
}
.text-1,
.text-2,
.img-1,
.img-2 {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.img-1,
.img-2 {
  width: 100%;
}
.services {
  padding-top: 10%;
  padding-bottom: 20%;
}
.our-services-img {
  width: 122%;
  transition: transform 0.3s ease;
  margin-top: -18%;
  margin-left: -5%;
}

.box-services-img {
  width: 63%;
  margin-left: 26%;
  margin-top: 2%;
  height: 32vw;
  background-color: #ff570c;
  border-radius: 277px 277px 0 0;
}
.box-services {
  width: 45%;
  margin-top: -0.5%;
}

.swiper-sliders {
  transition: all 0.25s ease-out;
  opacity: 1;
}

/* .swiper-slide-active + .swiper-slide ~ .swiper-slide {
  opacity: .35;
} */

.box-office-location img {
  max-width: 100%;
  transition: all 0.25s ease-out;
  transform: scale(0.7);
  transform-origin: center;
  border-radius: 20px;
  -webkit-filter: grayscale(1);
}

.box-office-location.active img {
  transform: scale(0.9);
  -webkit-filter: grayscale(0);
}
.title-location {
  margin-bottom: 3%;
  text-align: center;
  transition: all 0.25s ease-out;
  color: #1a1c20;
  font-size: clamp(24px, 2.3vw, 46px);
}
.title-location span {
  text-align: center;
  transition: all 0.25s ease-out;
  color: #ff570c;
  font-size: clamp(17px, 1.7vw, 34px);
}
.location-text {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  transition: all 0.25s ease-out;
  color: #898989;
}
.description {
  position: relative;
}
.box-office {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.box-office-location.active .location-text,
.box-office-location.active .title-location {
  display: block;
}

.box-office.active {
  opacity: 1;
}
.swiper-work {
  margin-top: -11%;
  padding-bottom: 15%;
  overflow: hidden;
}
.button-form {
  margin-top: 10%;
  background: none;
  border: 2px solid #ff570c;
  border-radius: 50px;
  content: "";
  display: block;
  position: relative;
  width: 15%;
  height: 4vw;
  font-size: clamp(11px, 1.1vw, 22px);
  cursor: pointer;
  color: #ff570c;
}
.button-cta {
  margin-top: 10%;
  background: none;
  border: 2px solid #ff570c;
  border-radius: 50px;
  content: "";
  display: block;
  position: relative;
  width: 25%;
  height: 4vw;
  max-height: 80px;
  font-size: clamp(11px, 1.1vw, 22px);
  cursor: pointer;
  color: #ff570c;
}
.button-work {
  border-radius: 37px;
  border: 2px solid #ff570c;
  color: #ff570c;
  text-align: center;
  padding: 0.8em 1.2em;
  margin-top: 2%;
  font-size: clamp(11px, 1.1vw, 22px);
  font-weight: 500;
}
.button-about {
  border-radius: 37px;
  border: 2px solid #ff570c;
  color: #ff570c;
  width: 24%;
  text-align: center;
  padding: 0.8em 0;
  margin-top: 5%;
  font-size: clamp(11px, 1.1vw, 22px);
  font-weight: 500;
}

img {
  width: 100%;
}
@media screen and (min-width: 360px) and (max-width: 640px) {
  .box-office-location.active img {
    transform: scale(1);
  }
  .game-section {
    display: none;
  }
  .project-mobile,
  .workflow-mobile,
  .location {
    margin-top: 15%;
  }
  .text-banner-mobile {
    width: 95%;
    margin-top: 4%;
    color: #898989;
    line-height: 1.75;
    display: block;
  }

  .title-banner {
    font-size: clamp(32px, 8.8vw, 56px);
  }
  .section-title,
  form input,
  .title-orange,
  .country-title {
    font-size: clamp(16px, 4.4vw, 28px);
  }
  .section-title {
    margin-top: 1%;
  }
  body {
    font-size: clamp(14px, 3.8vw, 24px);
  }
  .text-banner {
    width: 100%;
  }
  .swiper-location,
  .ourteam-mobile,
  .project-mobile,
  .swiper-location,
  .workflow-mobile {
    display: block;
  }

  .swiper-work {
    margin-top: 0;
    overflow: hidden;
    display: block;
  }
  .game-section,
  .dice,
  .text-services,
  .ourteam,
  .project,
  .approach,
  .profile,
  .box-approach,
  .office-location,
  .parallax-herobanner {
    display: none;
  }
  .our-works-mobile {
    display: grid;
  }
  .hero-banner,
  .cta-section,
  .cta-contact,
  .cta-section-contact {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .services-banner,
  .contact-form,
  .aboutus {
    flex-direction: column;
    gap: 30px;
  }
  .title-contact,
  .contact-box,
  .small-container,
  .box-team,
  .parallax-herobanner,
  .block-work,
  .block-work-2,
  .title-section,
  .box-about,
  .box-herobanner,
  .cta-box,
  .our-services-img,
  .box-herobanner-2,
  .location-container {
    width: 100%;
  }
  .box-services {
    width: 100%;
  }

  .box-about-2 {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
  .b-a-content {
    height: 46vw;
  }

  .dice-mobile {
    margin-left: 0;
    margin-top: 11%;
    width: 100%;
    display: block;
  }
  input {
    width: 100%;
    height: 7%;
    border-radius: 10px;
  }
  .button {
    width: 35%;
  }
  .button-contact {
    margin-bottom: 35%;
    justify-content: center;
  }
  form input {
    border-bottom: 2px solid #898989;
  }
  .our-services-img,
  .footer-bottom,
  .f-r-box-1 {
    display: none;
  }
  .our-services-img-mobile {
    margin-left: 5%;
    margin-bottom: 7.5%;
    display: block;
    width: 90%;
  }
  .img-work-1,
  .img-work-2 {
    margin-top: 20%;
    width: 100%;
    margin-left: -5%;
  }
  .img-work-1 {
    transform: scaleX(-1);
  }
  .img-work-2 {
    margin-top: 10%;
  }
  .work-background {
    padding: 15% 0;
    height: 132vw;
  }
  .title-work-mobile {
    margin-top: 160%;
  }
  .box-herobanner {
    padding-bottom: 10%;
  }
  .ourteam-mobile {
    margin-top: 30%;
  }

  .project-mobile img,
  .swiper-slide-profile img {
    width: 100%;
  }
  .swiper-location,
  .swiper-profile,
  .swiper-workflow,
  .swiper-container-mobile,
  .swiper-work {
    overflow: hidden;
  }
  .location-description {
    display: flex;
  }
  .location-img {
    width: 100%;
  }
  .box-herobanner-2 img {
    width: 100%;
    margin-left: 0;
  }
  .box-image-location-mobile {
    margin: 0 auto;
    width: 95%;
  }
  form input {
    padding: 0 7%;
    height: 13vw;
  }
  .button-form {
    width: 23%;
    height: 9vw;
  }

  .box-approach-content-mobile {
    background-color: #f3f0f2;
    border-radius: 227px 227px 0 0;
    transition: 0.5s ease-in-out;
    height: 82vw;
  }

  .box-approach-content-mobile img {
    margin-top: 19%;
    margin-bottom: 16%;
    margin-left: 0%;
    width: 100%;
    transition: 0.5s ease-in-out;
  }

  .box-content-mobile.active .box-approach-content-mobile {
    background-color: #ff570c;
    border-radius: 227px 227px 0 0;
  }

  .box-content-mobile.active img {
    transform: scale(1.2);
  }
  .box-content-mobile.active .text-approach {
    display: block;
  }
  .text-approach {
    transition: 0.5s ease-in-out;
    margin-left: -35%;
    display: none;
    width: 170%;
  }

  .box-office-location-mobile img {
    max-width: 100%;
    transition: all 0.25s ease-out;
    transform: scale(0.7);
    transform-origin: center;
    border-radius: 20px;
    -webkit-filter: grayscale(1);
  }

  .box-office-location-mobile.active img {
    transform: scale(0.9);
    -webkit-filter: grayscale(0);
  }
  .location-text {
    text-align: center;
    width: 85%;
    transition: all 0.25s ease-out;
    color: #898989;
  }
  .box-office-location-mobile.active .location-text {
    display: block;
  }
}

.clear {
  clear: both;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */

.game-section .owl-stage {
  display: flex;
  display: -webkit-flex;
}
.game-section {
  margin-top: -12%;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  filter: grayscale(100%);
}
.game-section .item.active {
  width: 500px;
  filter: grayscale(0%);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
  filter: grayscale(0%);
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.swipers-pagination {
  display: flex;
  justify-content: space-between;
}
.dot {
  width: 15px;
  height: 10px;
  background-color: #f3f0f2;
  border-radius: 200px;
}
.dot.active {
  width: 50px;
  height: 10px;
  background-color: #ff570c;
  border-radius: 200px;
}
.dots-page {
  display: flex;
  gap: 7px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 10px;
  background: #f3f0f2;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 50px;
  height: 10px;
  background: #e73700;
}

.owl-theme .owl-dots .owl-dot:hover span {
  width: 15px;
  height: 10px;
  pointer-events: none; /* Menonaktifkan interaksi saat hover */
}

.owl-dot {
  display: none; /* Sembunyikan dot */
}

.owl-dot.active {
  display: inline-block; /* Tampilkan dot yang aktif */
}

.owl-dot.active {
  color: #e73700;
}
.owl-theme .owl-dots {
  margin-left: 5%;
  text-align: left;
}

@media (min-width: 360px) and (max-width: 640px) {
  .swiper-pagination-bullet {
    width: 7.5px !important;
    height: 5px !important;
    display: inline-block !important;
    border-radius: 210px !important;
    background: #f3f0f2 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    width: 25px !important;
    height: 5px !important;
    background: #e73700 !important;
  }
  .button-about,
  .button-work {
    color: transparent;
    position: relative;
    font-size: unset;
    padding: unset;
  }
  .button-about img,
  .button-work img {
    width: 25%;
    position: absolute;
    top: 25%;
    left: 40%;
    display: block;
  }
}
